body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  background-color: #000000;
}

.phone {
  background-color: #000000;
  height: 500px;
  width: 280px;
  border-radius: 45px;
  border: 10px solid rgb(139, 107, 107);
  border-bottom: 50px solid rgb(150, 108, 108);
  border-top: 50px solid rgb(160, 115, 115);
  position: relative;
  display: grid;
  overflow: hidden;
}
.screen {
  border-radius: 1px;
  position: relative;

}
.screen-stc{
  position: absolute;
  top: 1%;
  width: 20%;
  height: 10%;
  border-radius: 50%;
  background-color: #ffffff;
}
.screen__close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  height: 20px;
  widows: 20px;
  cursor: pointer;
  padding: 10px;
  color: #ececec;
}
.screen__close-button::after, .screen__close-button::before {
  content: "";
  display: block;
  height: 15px;
  width: 2px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.screen__close-button::after {
  transform: rotate(-45deg);
}
.screen__close-button::before {
  transform: rotate(45deg);
}
.screen--home {
  grid-row: 1;
  grid-column: 1;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 1);
}
.screen--app {
  color: white;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  display: none;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform-origin: top left;
}
.screen--app img {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.icon {
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top left;
  height: 50px;
  width: 50px;
}
.icon img {
  height: auto;
  display: block;
  transition: opacity 0.2s linear;
  width: 55%;
}
#a{
  position: absolute;
  bottom:6.9%;
}
p{
  color: rebeccapurple;
}
[data-open=app] .screen--home {
  transform: scale(0.8);
}
[data-open=app] .screen__app-content {
  animation: fadeIn 0.3s linear;
  animation-fill-mode: both;
  animation-delay: 0.4s;
}
[data-open=app] .screen--app {
  border-radius: 25px;
}
[data-open=app] .screen--app img {
  animation: fadeOut 0.3s linear;
  animation-fill-mode: both;
}

[data-open=home] .screen__app-content {
  animation: fadeOut 0.3s linear;
  animation-fill-mode: both;
}
[data-open=home] .screen--app {
  animation: fadeOut 0.1s linear;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  border-radius: 30%;
}
[data-open=home] .screen--app img {
  animation: fadeIn 0.3s linear;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}